{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log out</a></p>
        <p><a href="{% url 'password_change' %}"> Change password</a></p>
    {% endif %}

    {% for blog_post in object_list %}
        <div class="card">

            <div class="card-header">
                <a class="link-primary" href="{% url 'blog_detail' blog_post.pk %}"><span
                        class="font-weight-bold">{{ blog_post.title }}</span> &middot;</a>
                <span class="text-muted">by {{ blog_post.author }} |
                    {{ blog_post.date }}</span>
            </div>

            <div class="card-body">
                {{ blog_post.body | truncatechars_html:20 }}
            </div>

            {% if user.is_authenticated %}
                <div class="card-footer text-center text-muted">
                    <a href="{% url 'blog_edit' blog_post.pk %}">Edit</a> |
                    <a href="{% url 'blog_delete' blog_post.pk %}">Delete</a>
                </div>
            {% endif %}


        </div>
        <br/>
    {% endfor %}
{% endblock %}
